* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-image: linear-gradient(to right, #4d5656, #ecf0f1);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height: 100vh;
}

.info {
	display: inline-block;
	margin: 2rem;
	font-size: 3rem;
	color: brown;
	font-style: italic;
	text-shadow: 2px 1px 3px black;
	border-bottom: 2px dotted black;
	padding-bottom: 1rem;
}

.container {
	display: flex;
	margin-top: 3rem;
	justify-content: center;
	align-items: center;

	h1 {
		font-size: 3rem;
		color: #222;

		span {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background-color: transparent;
			margin-left: 1rem;
		}
	}

	h1.active {
		span {
			background-color: #f00;
		}
	}

	img {
		width: 5rem;
		border-radius: 50%;
		padding: 1rem;
		margin: 1rem;
		cursor: pointer;
		border: 5px solid black;
		filter: blur(1px);
		transition: all .2s;
	}

	img.active {
		filter: blur(0);
		background-color: #f00;
		border-color: #f00;
		box-shadow: 2px 5px 5px rgba(22, 13, 13, 0.8);
	}

	p {
		font-size: 2rem;
	}

	.img-container {
		margin-top: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		transition: all 0.2s;
	}

	.img-container.active {
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
		background-color: #777;
	}

	.player {
		text-align: center;
		width: 20rem;
	}

	.middle {
		width: 50px;
	}

	.computer {
		text-align: center;
		width: 20rem;

		img {
			cursor: none;
			pointer-events: none;
		}
	}
}

.overlay {
	position: fixed;
	background-color: rgba(22, 13, 13, 0.8);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	p {
		font-size: 5rem;
		color: #fff;
		margin-bottom: 2rem;
	}

	button {
		padding: 1.5rem 3rem;
		font-size: 2rem;
		cursor: pointer;
	}
}